*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    width: 120px;
    height: 40px;
    border-radius:  30px;
    border: none;
    
}
li{
    display: inline-block;
    list-style-type: none;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
p{
    color: white;
    text-align: center;
}
h1{
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
h3{
    color: #38A899;
    font: 600;
    font-size: 30px;
    
}
label{
    display: inline-block;
}
.hero_box{
    position: relative;
    padding: 30px;
    background-color: #EAEEED;
    overflow: hidden;
}
/* main_box */
.main_box{
    display: flex;
    position: relative;
    z-index: 1;
    /* border-radius: ;px */
}
.main_box::after {
    content: "";
    clear: both;

}

/* left box */

.main_box .left_box{
    position: relative;
    width: 500px;
    float: left;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #38A899;
    
    opacity: .75;
}
.main_box .left_box .left_content{
    margin-bottom: 30px;
}
.main_box .left_box .logo{
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px 5px;
    z-index: 1;

}
.main_box .left_box .logo span{
    
    display: inline-block;
    margin-top: 10px;
    width: 30px ;
    height: 30px;
    border: 1px solid ;
}
.main_box .left_box .logo h3{
    display: inline-block;
    position: absolute;
    top: 15px; 
    margin-left: 10px;
    color: black;
    font-size: 15px;
    margin-bottom: 25px;
}




.main_box .left_box button{
    margin: 0 auto;
}
/* right */

.main_box .right_box{
    width: calc(100% - 500px);
    float: right;
    padding: 30px 0;
    background-color: #fff;
}

.main_box .right_box .right_box_content{
    display: flex;
    align-items: center;
    flex-direction: column;    
    width: 450px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 40px;
}
.main_box .right_box .right_box_content h3{
    margin-bottom: 35px;
}
.main_box .right_box .right_box_content p{
    color: gray;
    margin-bottom: 10px;
}
.main_box  .right_box_content  ul{
    margin-bottom: 20px;
}
.main_box  .right_box_content  ul>li{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}


.main_box  .right_box_content .form .form_content{
    /* height: auto; */
    /* display: flex; */
    margin-bottom: 15px;
    background-color: #EAEEED;
    /* height: 40px; */
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    
}
.main_box  .right_box_content .form .form_content input{
    display: block;
    width:100%;
    /* margin-left: 10px;sssss */
    border: none;
    outline: none;
    /* display: inline-block; */
    height: 45px;
    padding-left: 45px;
    background-color: #EAEEED;
}
.main_box  .right_box_content .form .form_content label{
    position: absolute;

    width: 25px;
    display: inline-block;     
    background-color: #EAEEED;
    height: 25px;
    margin-top: 9px;
    margin-left: 5px;

}
.main_box  .right_box_content .form  .button{
    display: flex;
    justify-content: center;
}
.main_box  .right_box_content .form  button{
    background-color: #38A899;
} 

/*  shape*/

.circle{
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: yellow;
    bottom: -200px;
    left: -175px;

}
.triangle{
    position: absolute;
    width: 0;
    height: 0;
    top: -150px;
    right: -130px;
    rotate: 10deg;
    border-bottom: 300px solid red;
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    

    

}






